#searchForm{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

#searchInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 43px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: red;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#searchForm:hover{
    width: 200px;
    cursor: pointer;
}

#searchForm:hover input{
    display: block;
}

#searchForm:hover .fa{
    background: red;
    color: white;
}

#sortDiv {
    float: right;
    width: 200px;
    color: white;
}


#deleteItem, #submitSort {
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#deleteItem:hover, #submitSort:hover{
    background-color: red;
    color: white;
}

#productItem {
    color: white;
}

#ingredientsDiv {
    color: white;
}

#productPrice {
    font-size: 20px;
    color: red;
}

#cartDiv {
    float: right;
}
#nameDiv{
    font-size: 30px;
    color: white;
    text-align: center;
}

#totalSum {
    color: white;
    font-size: 30px;
    text-align: center;
}

#table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
#table_blur th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(red, red);
    color: white;
    width: 300px;
    padding: 10px 15px;
    position: relative;
}
#table_blur th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
#table_blur tr:nth-child(odd) {
    background: #ebf3f9;
}
#table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
#table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
#table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
}
#table_blur tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #a09f9d;
}
#table_blur tbody:hover tr:hover td {
    color: #444444;
    text-shadow: none;
}
